
@{
    ViewBag.Title = "NotFound";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div> The Page you are looking for not found ....  <h1> Please check the Url...</h1>
    </div>
</body>
</html>
