<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body style="text-align:center;background-image:url(../../img/img1.gif);background-repeat:no-repeat;background-size:cover">
    <h1>Welcome To The Book Your Fav Application.....</h1>
    <fieldset class="field">
        <legend>@ViewBag.Title</legend>
        <br />
        <div>@RenderBody()</div>
    </fieldset>
    <br />
    <div class="c">@@Copyrights naveen-pandian-2024</div>
</body>
</html>
